h1
{
    text-align:center; 
    background-color: blue;
}
.poda
{
    text-align:center; 
}
h4
{
    text-align:center; 
    color:brown;
}
h2
{
    text-align:center; 
}
div
{
    text-align: center;
}
button
{
    background-color: chartreuse;
    color: black;
}
